<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Home route</h1>
        <p>
            Lorem eiusmod est ullamco nulla et sit exercitation. Est eu tempor mollit ipsum velit aliqua anim elit eu
            exercitation. Sint sit voluptate nulla adipisicing velit culpa. Dolore veniam velit mollit consectetur
            commodo do laborum nulla in do et consectetur. Irure anim nisi nostrud eu et voluptate esse esse est
            reprehenderit.
        </p>
        <p>
            Quis culpa proident sit aliqua enim nulla ad dolore cupidatat. Nisi consequat ea amet incididunt quis
            consectetur anim do do excepteur enim amet duis. In nisi ullamco ex dolore nisi eiusmod. Incididunt eu et
            esse laboris aliquip cupidatat. Pariatur aliquip fugiat nostrud consequat fugiat sit consequat pariatur
            consectetur magna. Laboris veniam occaecat fugiat dolore sit. Quis irure sit eiusmod esse eiusmod ut culpa
            qui quis veniam est enim.
        </p>
    </main>
</body>

</html>