.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}            

.form-control {
    margin: 1rem 0;
}

.form-control label, 
.form-control input {
    display: block;
}

.form-control input {
    border: 1px solid thistle;
    font: inherit;
    border-radius: 1px;
    width: 100%;
}

button {
    font: inherit;
    border: 1px solid lightslategray;
    border-radius: 3px;
    background: thistle;
    color: lightslategray;
}

button:hover,
button:active,
button:focus {
    background: lightslategray;
    color: thistle;
}